*.blockmap filter=lfs diff=lfs merge=lfs -text
*.blockmap.gz filter=lfs diff=lfs merge=lfs -text
dist/mac/** filter=lfs diff=lfs merge=lfs -text
dist/mac-arm64/** filter=lfs diff=lfs merge=lfs -text
dist/win-unpacked/** filter=lfs diff=lfs merge=lfs -text
*.dmg filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.app filter=lfs diff=lfs merge=lfs -text
dist/mac/Pikammmmm[[:space:]]Browser.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
dist/mac-arm64/Pikammmmm[[:space:]]Browser.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
dist/win-unpacked/Pikammmmm[[:space:]]Browser.exe filter=lfs diff=lfs merge=lfs -text
